.MainPageContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.SearchPageContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.AnalysisPageContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
